/*Style.css*/

.time-slot { }

.time-slot input {
    display: none;
}

.time-slot label {
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    background:#EEE; 
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
    -moz-transition:0.3s ease all;
    -webkit-transition:0.3s ease all;
}

.time-slot input:checked ~ label { 
    background:#f2dede;
    cursor:not-allowed;
    -moz-animation:flashBooked 0.5s ease;
    -webkit-animation:flashBooked 0.5s ease;
}

.time-slot input:not(checked) ~ label {
    background: #6AB074;
    -webkit-animation: flashAvailable 0.5s ease;
    -moz-animation: flashAvailable 0.5s ease;
}

@-webkit-keyframes flashBooked {
    0%, 100%    { background: #6AB074; -webkit-transform: scale(1); }
    50%            { background: #F99090; -webkit-transform: scale(1.5); }
}

@-webkit-keyframes flashAvailable {
    0%, 100%    { background:#6AB074; -webkit-transform:scale(1); }
    50%            { background: rgb(119, 219, 78); -webkit-transform: scale(1.5); }
}

@-moz-keyframes flashBooked {
    0%, 100%    { background: #6AB074; -moz-transform: scale(1); }
    50%            { background: #F99090; -moz-transform: scale(1.5); }
}

@-moz-keyframes flashAvailable {
    0%, 100%    { background:#6AB074; -moz-transform:scale(1); }
    50%            { background: rgb(119, 219, 78); -moz-transform: scale(1.5); }
}